.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--footer-color);
  color: var(--secondary-color);
}

.backgroundContainer {
  max-width: 960px;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;

  img {
    object-fit: contain;
  }
}

.logoContainer {
  flex-direction: column;
  margin-left: 10px;
  text-transform: uppercase;

  span:nth-child(1) {
    color: var(--third-color);
  }

  span:nth-child(2) {
    color: var(--secondary-color);
    margin-top: -5px;
  }
}
