:root {
  --bg-color: #5f749f;
  --footer-color: #172444;
  --primary-color: #ffffff;
  --secondary-color: #3f4f6d;
  --third-color: #4d4d4d;
  --fourth-color: #b0b4be;
  --xl-text-primary-color: #000000;
  --xxl-text-primary-color: #627f94;
}
