.navbar {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 102;
}

.background {
  background: var(--bg-color);
  color: var(--secondary-color);
}

.backgroundContainer {
  max-width: 880px;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.clearContainer {
  max-width: 880px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;

  img {
    object-fit: contain;
  }
}

.logoContainer {
  flex-direction: column;
  margin-left: 10px;
  text-transform: uppercase;

  span:nth-child(1) {
    color: var(--third-color);
  }

  span:nth-child(2) {
    color: var(--secondary-color);
  }
}

.links {

  a {
    margin-left: 50px;
    text-transform: uppercase;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    font-style: italic;
  }
}
