.historyPage {
  display: flex;
  flex-direction: column;
}

.peak {
  height: calc(100vh - var(--navbar-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.textContainer {
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;

  h1 {
    font: var(--font-xxl);
    color: var(--xxl-text-primary-color);
    position: relative;

    span {
      position: absolute;
      font: var(--font-xl);
      color: var(--secondary-color);
      text-transform: uppercase;
      left: 120px;
      bottom: 40px;
    }
  }

  p {
    margin-left: 70px;
    color: var(--xl-text-primary-color);
  }
}
