.mainPage {
  height: calc(100vh - var(--footer-height));
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.mainImage {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.laMountains {
  position: absolute;
  z-index: 101;
}

.space {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  opacity: .1;
}

.mask {
  position: absolute;
  left: 0;
  bottom: calc(var(--footer-height));
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
